/* style.css */

/* About Us Section */
#about-us {
    padding: 50px 0;
}

#about-us h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
}

#about-us p {
    color: #666;
    font-size: 16px;
    line-height: 1.8;
}

#about-us img {
    width: 100%;
    border-radius: 5px;
}
